*/bin/**
*/obj/**
TradeForce.MobileAPI/Files/**
TradeForce.MobileAPI/Properties/**
TradeForce.MobileAPI/Content/**/Thumbs.db
TradeForce.MobileAPI/Properties/PublishProfiles/**
TradeForce.MobileAPI/Scripts/custom/i18n/resources.js
TradeForce.MobileAPI/Content/node_modules/**
TradeForce.MobileAPI/package-lock.json
TradeForce.Portal/Files/**
TradeForce.Portal/Properties/**
TradeForce.Portal/Content/**/Thumbs.db
TradeForce.Portal/Properties/PublishProfiles/**
TradeForce.Portal/Scripts/custom/i18n/resources.js
TradeForce.Portal/Content/node_modules/**
TradeForce.Portal/package-lock.json
*.suo
*.user
packages/**
*.rar
*.zip
*.orig

# Visual Studio 2015 cache/options directory
.vs/
*.DotSettings

TestResults/*
.idea
/Tradeforce.Portal/node_modules
/UpgradeLog[0-9]*.htm
